body {
  margin: 0;
  padding: 0;
  background: rgb(244,235,3);
  background: linear-gradient(0deg, rgba(244,235,3,1) 35%, rgba(249,211,1,1) 80%, rgba(249,186,1,1) 100%);;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 240px;
  height: 240px;
  background: rgb(241, 239, 239);
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
